tree-page {
  display: flex;
  justify-content: center;
  width: 100%;
}
tree-trees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#tree-trees-heading {
  margin-top: 2rem;
}
tree-trees-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: .25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-1);
}
tree-person {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
tree-person-children-label,
tree-person-spouses-label,
tree-person-parents-label {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-green);
}
tree-person-children-label {
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: rotate(-90deg);
  transform-origin: center top;
}
tree-person-spouses-label {
  position: absolute;
  top: 1.5rem;
  width: 100%;
  text-align: center;
}
tree-person-parents-label {
  position: absolute;
  right: -1.5rem;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: center top;
}
tree-person-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 3rem;
}
tree-person-spouses {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3rem;
  left: 4rem;
  right: 4rem;
}
tree-person-parents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 3rem;
}
tree-person-children > trepo-person-mini,
tree-person-spouses > trepo-person-mini,
tree-person-parents > trepo-person-mini {
  padding: 1rem;
  margin: 1rem;
  border-radius: .25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-1);
}
tree-person-card {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  max-height: calc(50% + 7rem);
  overflow-y: auto;
  padding: 1rem;
  border-radius: .25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-1);
}
tree-person-card > trepo-person-mini {
  border-bottom: 1px solid rgba(55,55,55,.13);
}
