tree-page {
  display: flex;
  justify-content: center;
  width: 100%;
}
tree-trees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#tree-trees-heading {
  margin-top: 2rem;
}
tree-trees-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: .25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-1);
}
tree-person {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
tree-person-card {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .25rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-1);
}

tree-person-card > trepo-person-mini {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(55,55,55,.13);
}
