:root {
  --color-green: #1ECC50;
  --color-blue: #1E6FCC;
  --color-black: #373737;
  --color-gray-dark: #454545;
  --color-gray-light: #DDDDDD;
  --color-off-white: #F8F8F8;
  --color-white: #FFFFFF;
}
