:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgba(55,55,55,0.9); /* --color-black @ 90% */

  --color-green: #1ECC50;
  --color-blue: #1E6FCC;
  --color-black: #373737;
  --color-gray-dark: #454545;
  --color-gray-light: #DDDDDD;
  --color-off-white: #F8F8F8;
  --color-white: #FFFFFF;

  --shadow-1: 0 2px 4px 0 rgba(55,55,55,0.67);
  --shadow-2: 0 4px 10px 0 rgba(55,55,55,0.67);
}
*[hidden] {
  display: none;
}
h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}
h4 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
}
input {
  padding: .5rem;
  border: 1px solid rgba(55,55,55,0.13);
  border-radius: .25rem;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
}
button {
  padding: .5rem 1rem;
  color: var(--color-white);
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  background-color: var(--color-blue);
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
}
button[type="submit"] {
  background-color: var(--color-green);
}
button[disabled] {
  background-color: var(--color-gray-light);
}
