<style>
  th-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  th-app > header {
    height: 3rem;
    display: flex;
    border-bottom: 1px solid black;
  }
  th-app > header > svg {
    width: 2rem;
    margin: 0 .5rem;
  }
  th-app > main {
    display: flex;
    flex: 1;
  }
</style>

<template id="th-app">
  <header>
    <svg viewBox="0 0 145 140" xmlns="http://www.w3.org/2000/svg"><title>Logo</title><path d="M70 10v130H50V20H0V0h70v10zm75 50v80h-20V70H90V50h55v10z" fill="#000" fill-rule="evenodd"/></svg>
    <th-taskbar></th-taskbar>
  </header>
  <main>
    <th-nav></th-nav>
    <th-page></th-page>
    <th-aside></th-aside>
  </main>
</template>
