.trepo--form {
  display: flex;
  flex-direction: column;
}
trepo--header {
  display: flex;
}
trepo--title {
  flex: 1;
}
trepo--form-toggle {
  color: var(--color-blue);
  cursor: pointer;
}
trepo--input > label {
  padding-right: .5rem;
}
trepo--input > label::after {
  content: ":";
}
trepo--input > input[disabled] {
  border: 0;
}
trepo--form-controls {
  display: none;
  align-items: baseline;
  justify-content: flex-end;
}
.trepo--form[enabled] trepo--form-controls {
  display: flex;
}
trepo-person-data {
  display: flex;
  flex-direction: column;
}
trepo-person-data-new {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(55,55,55,.13);
}
.trepo-person-data-add {
  margin-left: 1rem;
}
trepo-person-data-data > * {
  padding: 1rem;
  border-bottom: 1px solid rgba(55,55,55,.13);
}
trepo-name {
  display: flex;
  flex-direction: column;
}
