trepo--header {
  display: flex;
}
trepo--title {
  flex: 1;
}
trepo--form-toggle {
  color: var(--color-blue);
  cursor: pointer;
}
trepo--input > label {
  padding-right: .5rem;
}
trepo--input > label::after {
  content: ":";
}
trepo--input > input[disabled] {
  border: 0;
}

trepo-name {
  display: flex;
  flex-direction: column;
}
